body {
    margin: 0;
    font-family: 'Oswald', sans-serif;
}


.top_header_area {
    background-color: #111f29;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.top_header_area a {
    text-decoration: none;
    color: #fff;
}

.icon {
    color: #f6af18;
    padding: 10px;
}

a:hover {
    color: #f6af18;
    transition: .3s;
}

#header {
    background-image: url(../img/adult-architect-blueprint-416405.jpg);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


nav {
    position: absolute;
    width: 100%;
    z-index: 999;
    font-weight: 300;
    transition: top 0.3s;
}


nav ul {
    background-color: #fff;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    padding: 0 3%;
    margin: 0;
    border-bottom: solid;
    border-bottom-width: 1px;
}

nav ul li {
    margin: 0 1em 0 1em;
    padding: 1em 0 1em;
}

nav ul li a {
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
    transition: color 0.2s, background-color 0.2s, padding 0.2s ease-in;
    font-size: 1.1em;
    font-weight: 900;

}

nav ul li a:hover,
nav ul li a:focus,
nav ul li a:active {
    color: #f6af18;
    text-decoration: none;

}


nav ul li a:active::after {
    background-color: #008000;

}

nav ul li a:hover::after,
a:focus::after {
    transform-origin: bottom;
    transform: scale(1, 1);

}

nav ul li:last-child {
    display: none;
}

nav .topnav .icon {
    font-size: 25px;
}

nav.scrolling {
    background-color: rgba(59, 59, 59, 0.79);
    height: 60px;
    position: fixed;
    transition: all .5s;
    z-index: 9999;
    top: 0;
}

#back-to-top {
    opacity: .8;
    position: fixed;
    bottom: 2%;
    right: 3%;
    z-index: 9999;
    width: 40px;
    height: 40px;
    text-align: center;
    background: #ffad00;
    color: #fff;
    cursor: pointer;
    border: 0;
    border-radius: 2px;
    text-decoration: none;
    transition: opacity 0.2s ease-out;
    display: none;
}

#up {
    line-height: 35px;
}

#back-to-top:hover {
    background: #e9ebec;
    color: #ffad00;
}

#back-to-top.show {
    display: block;
}

#content {
    height: 2000px;
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

.fadeIn{
    animation: fadein;
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}

.professional {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-line-pack: distribute;
    align-content: space-around;
    margin: auto;
    padding-top: 5%;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 1280px;
}

.professional-article {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 10%;
    flex-basis: 10%;
    padding: 0 2em 1.17em;
    text-align: center;
}

.article-heading {
    font-weight: 700;
    letter-spacing: 0.5px;
    white-space: nowrap;
    font-size: 1.25em;
    text-transform: uppercase;
}

.professional_container {
    z-index: 1;
    background-color: #f5f5f5;
}


.article-paragraph {
    min-width: 160px;
    max-width: 230px;
    margin: 1em auto;
    text-align: center;
}

.section-heading {
    font-size: 1.95em;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 5% 0 5% 0;
}

.title h2 {
    padding-bottom: 20px;
    padding-top: 5%;
    display: flex;
    text-align: center;
    justify-content: center;
    position: relative;
}

.title h2:after {
    content: "";
    position: absolute;
    background: #f6b60b;
    height: 5px;
    width: 60px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10px;
}

.head_text_sec {
    font: 400 24px "Oswald", sans-serif;
    color: #222222;
    text-transform: uppercase;
}

.who_we_are {
    display: flex;
}

p.text {
    flex: 1;
    padding: 0% 5% 3%;
    margin: 0;
}

.button {
    display: flex;
    justify-content: center;
    text-align: center;
    align-content: center;
    padding-bottom: 5%;
}

.btn {
    width: 180px;
    height: 50px;
    text-transform: uppercase;
    border: 0;
    font-weight: 900;
    background-color: #f6b60b;
    cursor: pointer;
    display: block;
    position: relative;
}



.btn:hover {
    color: #fff;
    background-color: #222;
    transition: all .3s linear .1s;
}

.our_offer {
    background-color: #f6b60b;
    height: auto;
}



#contact {
    position: relative;
    background-image: url(../img/footer.jpg);
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    align-items: center;
}

#contact:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    opacity: .6;
}


.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-line-pack: distribute;
    align-content: space-around;
    margin: auto;
    padding-top: 5%;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 1280px;
}

.contact-article {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 10%;
    flex-basis: 10%;
    padding: 0 2em 1.17em;
    text-align: center;
}

.contact-heading {
    color: #fff;
    font-weight: 700;
    letter-spacing: 0.5px;
    white-space: nowrap;
    font-size: 1.25em;
    text-transform: uppercase;
}

.contact_container {
    z-index: 1;

}

.colored {
    color: #f6b60b;
}

.contact-paragraph {
    color: #fff;
    min-width: 160px;
    max-width: 230px;
    margin: 1em auto;
    text-align: center;
}

.contact-article h3:after {
    content: "";
    position: absolute;
    background: #f6b60b;
    height: 1px;
    width: 50%;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10px;
}

.contact_adress {
    padding: 0;
    list-style-type: none;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-size: 1.5em;
}

.contact_adress li a {
    text-decoration: none;
    color: #fff;
    font-size: .9em;
}

.contact_adress li a:hover {
    color: #f6b60b;
}

.contact_icon {
    padding: 3%;
    color: #f6b60b;
    transition: all .3s linear .1s;
}

.contact_mail {
    font-size: 0.9em;
}